/*html {
  background: url("../img/background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
  font-family: 'Baloo Chettan', cursive;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  background-color: rgb(236, 231, 231);
}

#container {
  background: url("../img/background.jpeg") no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a{
  text-decoration: none;
  color: #FFF;
  padding: 15px;

}

.top {
  float:right;
}

#signUp {
  border: 1px solid #FFF;
  border-radius: 10%;
  padding: 8px;
}

.hoverThing:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

#signUp:hover {
  background-color: #FFF;
  color: #000;
}

.goCenter {
  margin-left: 48%;
  height: 50px;
  padding-top: 5px;
}

.middle {
  margin-top: 80px;
  text-align: center;
  color: #fff;
  position: relative;
}

#p1 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Baloo Chettan', cursive;
}

#p2 {
  font-size: 9em;
  margin-top: -25px;
  margin-bottom: -35px;
  font-family: 'Fugaz One', cursive;
}

#p3 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Oleo Script', cursive;
  font-weight: lighter;
  text-shadow: 2px 2px 10px #333;
}

#p4 {
  margin-top: 60px;
  text-shadow: 2px 2px 10px #222;
}

#trending:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

#trending {
  border: 2px solid #FFF;
  padding: 20px;
  margin-right: 20px;
}

#facebook {
  border: 1px solid rgb(44, 91, 165);
  padding: 20px;
  background-color: rgb(28, 117, 188);
}

#facebook:hover {
  background-color: rgb(44, 91, 165);
  cursor: pointer;
}

.other {
  padding-top: 15px;
  text-align: center;
  color: #FFF;
  margin-top: 125px;
}

.other div {
  display: inline-block;
  margin-right: 40px;
  color: rgba(255, 255, 255, 0.8);
}

.other div:hover {
  color:#fff;
}

.smaller {
  font-size: 0.8em;
}

.medium {
  font-size: 1.4em;
}

.larger {
  font-size: 1.8em;
}

#ico, #pict, #vide, #aero {
  margin: 0;
  padding-right: 4px;
}

.other div div {
  display: inline-block;
}

.other h4 {
  margin-bottom: 0;
}

hr {
  width: 75%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.1);
}

.different, .other {
  color: rgba(255, 255, 255, 0.8);
}

#quotes div {
  display: inline-block;
  margin-right: 40px;
  width: 350px;
}

#quotes {
  text-align: center;
  padding-bottom: 30px;
}

#share {
  margin-top: 50px;
  text-align: center;
}

#share p, #bucket{
  width: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
  font-size: 1.3em;
  font-weight: lighter;
}

#share p, #share h2 {
  color: rgb(88, 83, 80);
}

#share h2 {
  font-size: 3em;
}

#share img {
  width: 60%;
  box-shadow: 0 0 25px #444;
  border-radius: 15px;
  margin-bottom: 75px;
}

#basics {
  text-align: center;
  background-color: rgb(58, 110, 134);
  padding-top: 30px;
  color: #fff;
}

#basics div {
  display: inline-block;
  margin-left: 10px;
  height: 254px;

}

.boxes p {
  width: 225px;
}

#basics div img {
  width: 75px;
  height: 75px;
}
